.card {
    top: 3em;
    left: 20em;
    height: 50em;
}

.badge_icons {
    height: 5em;
    width: 10em;
    text-align: center;
    padding-top: 2em;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 0.5em;
}